// font size
$veryhude: 40px;
$huge: 32px;
$extralarge: 26px;
$big: 21px;
$regular: 20px;
$medium: 17px;
$small: 16px;
$extrasmall: 15px;
$verysmall: 14px;
$tiny: 13px;

// colors
$white: #ffffff;
$yellow: linear-gradient(93.58deg, #FFD600 0%, #FFBB36 100%);
$blacktext: #131313;
$grey: #323232;
$colorIcons: #1B1B1B;

// different
$borderRadius: 50px;
$transition: all 0.2s ease;
