@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";

body {
  width: 100%;
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 1140px;

  @include respond-to(lg) {
    padding: 0 20px;
  }
}

h1 {
  font-size: 40px;
  font-family: "martel", sans-serif;
  font-weight: 700;
  line-height: 67px;

  @include respond-to(md) {
    font-size: $extralarge;
    line-height: 44px;
  }
}

h2 {
  font-size: $huge;
  font-weight: 600;
  line-height: 44px;
}

.btn {
  padding: 15px 50px;
  height: 50px;
  background: $yellow;
  border-radius: $borderRadius;
  border: none;
  font-size: $regular;
  font-weight: 600;
  line-height: 100%;
  cursor: pointer;

  @include respond-to(lg) {
    padding: 10px 30px;
  }

  &:hover {
    opacity: 0.75;
  }
}

a {
  &:hover {
    opacity: 0.75;
  }
}

//Header
.header {
  max-width: 100%;
  position: relative;
  z-index: 100;
  height: 110px;
  background: transparent;

  @include respond-to(md) {
    height: 60px;
    background: $colorIcons;
  }

  .wrapper__header {
    max-width: 1340px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include respond-to(md) {
      height: 60px;
      flex-direction: row-reverse;
    }

    .header__logo {
      z-index: 10;

      .header__logo__link {
        display: block;
        width: 244px;


        @include respond-to(lg) {
          width: 200px;

        }

        @include respond-to(md) {
          width: 151px;
          margin: 0 auto;
          position: absolute;
          right: 50%;
          top: 15px;
          margin-right: -76px;
        }

        .header__logo__img {
          width: 100%;
        }
      }
    }

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 110px;
      position: relative;

      @include respond-to(md) {
        height: 60px;
        position: relative;
      }

      .burger {
        border: none;
        background: transparent;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 21;
        margin-left: -6px;
        display: none;

        @include respond-to(md) {
          display: flex;
        }

        &::before,
        &::after {
          content: "";
          width: 22px;
          height: 2px;
          background: $white;
          z-index: 10;
        }

        &::before {
          margin-bottom: 3px;
        }

        &::after {
          margin-top: 3px;
        }

        &:hover {
          opacity: 0.75;
        }

        i {
          width: 22px;
          height: 2px;
          background: $white;
        }
      }

      .nav__menu {
        z-index: 100;

        @include respond-to(md) {
          display: none;

        }


        .nav__list {
          display: flex;
          justify-content: space-between;

          .nav__item__link {
            font-size: $regular;
            font-weight: 600;
            line-height: 20px;
            color: $white;
            margin-right: 30px;

            @include respond-to(lg) {
              margin-right: 20px;
              font-size: 18px;
            }
          }
        }
      }

      .nav__button {
        z-index: 100;
        width: 322px;
        display: flex;
        justify-content: space-between;

        @include respond-to(lg) {
          width: 280px;
        }

        @include respond-to(md) {
          display: none;
        }

        .btn__login {
          background: transparent;
          border: 2px solid;
          border-color: #FFBB36;
          color: $white;
          font-weight: 300;
          padding: 15px 40px;

          &:hover {
            background-color: #FFBB36;
          }
        }

        .btn__signOut {
          display: none;
          background: $grey;
          color: $textGray;
          width: 182px;
          height: 50px;
          font-weight: 600;
        }

        &.logged {
          .btn {
            display: none;
          }

          .btn__signOut {
            display: block;
          }
        }
      }
    }

    .header__content {
      z-index: 10;

      .header__content__title {
        z-index: 10;
      }
    }

    //menu mobile
    .menu__mobile {
      width: 258px;
      max-width: 100%;
      height: 640px;
      background: $colorIcons;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 20;
      border-bottom-right-radius: 30px;
      display: none;

      &.show {
        display: block;
      }

      .mobile__button {
        margin-top: 69px;

        .btn {
          padding: 0 30px;
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          margin-left: 14px;
          height: 39px;
        }

        .btn__login {
          background: transparent;
          border: 1px solid #FFD600;
          font-weight: 300;
          color: white;
        }

        .btn__signOut {
          display: none;
          background: $grey;
          color: $textGray;
          width: 152px;
          height: 39px;
          font-weight: 600;
        }

        &.logged {
          display: flex;
          align-items: center;
          justify-content: center;

          .btn {
            display: none;
          }

          .btn__signOut {
            display: block;
          }
        }
      }

      .mobile__nav {
        margin-top: 30px;

        .mobile__nav__list {

          .nav__item {
            max-width: 258px;
            width: 100%;
            height: 32px;
            background-color: $grey;
            margin-bottom: 10px;
            color: $white;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            align-items: center;
            background-image: url(../img/1.png);
            background-repeat: no-repeat;
            background-position: 15px center;

            &:nth-child(2) {
              background-image: url(../img/14.png);
            }

            &:nth-child(3) {
              background-image: url(../img/2.png);
            }

            &:nth-child(4) {
              background-image: url(../img/6.png);
            }

            .mobile__nav__item__link {
              display: block;
              width: 100%;
              height: 100%;
              padding-left: 45px;
              padding-top: 6px;
            }
          }
        }
      }

      .mobile__logo {
        max-width: 151px;
        width: 100%;
        height: 31px;
        margin: 284px auto 0;
      }
    }
  }
}


//MAIN

//slider
.slider {


  .slider__block {
    overflow-x: hidden;

    .slider__item {
      height: 525px;
      background-image: url(../img/banner1.png);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      margin-top: -110px;

      @include respond-to(md) {
        margin-top: 0;
      }

      @include respond-to(xs) {
        height: 640px;
      }

      .container {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 142px;

        @include respond-to(md) {
          justify-content: center;
          padding: 25px 20px 0;
        }

        .slider__item-inner {
          max-width: 500px;
          width: 100%;
          color: $white;
          text-align: center;

          .banner__title {

            @include respond-to(xs) {
              font-size: 23px;
            }
          }

          .banner__text {
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
            margin-top: 10px;

            @include respond-to(sm) {
              font-size: $small;
              line-height: 22px;
            }

            @include respond-to(xs) {
              font-size: 15px;
            }
          }

          .banner__button {
            margin-top: 30px;
            padding: 10px 50px;

            @include respond-to(xs) {
              width: 177px;
              height: 43px;
              font-size: $medium;
            }
          }
        }
      }
    }

    .slider__item-first {
      background-image: url(../img/banner1.png);

      @include respond-to(xs) {
        background-image: url(../img/banner01.png);
      }
    }

    .slider__item-second {
      background-image: url(../img/banner2.png);

      @include respond-to(xs) {
        background-image: url(../img/banner02.png);
      }
    }

    .slider__item-third {
      background-image: url(../img/banner3.png);

      @include respond-to(xs) {
        background-image: url(../img/banner03.png);
      }
    }

    .slider__item-fourth {
      background-image: url(../img/banner4.png);

      @include respond-to(xs) {
        background-image: url(../img/banner04.png);
      }
    }

    .slick-list {
      .slick-track {
        display: flex;
      }
    }

    .slick-dots {
      display: flex;
      justify-content: center;

      li {
        margin: -40px 5px 0;
        font-size: 0;
        z-index: 10;

        button {
          width: 20px;
          height: 20px;
          background: transparent;
          border: 3px solid $white;
          border-radius: 50%;
          cursor: pointer;

          &:hover {
            opacity: 0.75;
          }
        }
      }

      .slick-active {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: $white;
        border: none;
        background: $white;
      }
    }
  }
}

//icons
.icons {
  background: $colorIcons;

  .icons__list {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 60px 0;

    @include respond-to(sm) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px 0;
    }

    .icons__item {
      max-width: 225px;
      width: 100%;
      height: 182px;
      text-align: center;
      border-left: 1px solid hsla(40, 100%, 61%, 0.14);

      @include respond-to(sm) {
        margin: 10px 0;
        width: 140px;
      }

      &:first-child {
        border: none;
      }

      &:nth-child(3) {
        @include respond-to(sm) {
          border: none;
        }
      }

      .icons__link {
        display: block;

        @include respond-to(sm) {
          width: 100px;
          margin: 0 auto;
        }
      }
    }
  }
}



//slots
.slots {
  background: $colorIcons;

  .slots__title {
    height: 60px;
    background: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 60px;
    font-weight: 600;

    @include respond-to(sm) {
      font-size: $big;
    }

    @include respond-to(xs) {
      margin-bottom: 30px;
    }
  }

  .wrapper__slots {
    padding-bottom: 88px;

    @include respond-to(xs) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .slots__conteiner {
      display: flex;

      @include respond-to(xs) {
        display: none;
      }

      .slots__item {
        margin: 5px;
        position: relative;

        .slots__block {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background: $grey;
          border-radius: 16.4423px;
          opacity: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;


          &:hover {
            opacity: 1;
            transition: 1.5s ease-in-out;
          }

          .slots__block-text {
            font-weight: 600;
            font-size: $small;
            line-height: 20px;
            color: $white;
            margin: 0 auto;
          }

          .slots__btn {
            width: 119px;
            height: 35px;
            background: $yellow;
            border-radius: 50px;
            border: none;
            margin-top: 15px;
            font-weight: 600;
          }
        }
      }
    }

    //slotsMobile
    .slots__col {
      display: flex;
      display: none;

      @include respond-to(xs) {
        display: flex;
      }

      //  display: none;
      .slots__conteiner__mobile {


        .slots__item {
          margin: 5px;
          position: relative;

          .slots__block {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: $grey;
            border-radius: 16.4423px;
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;


            &:hover {
              opacity: 1;
              transition: 1.5s ease-in-out;
            }

            .slots__block-text {
              font-weight: 600;
              font-size: $small;
              line-height: 20px;
              color: $white;
              margin: 0 auto;
            }

            .slots__btn {
              width: 119px;
              height: 35px;
              background: $yellow;
              border-radius: 50px;
              border: none;
              margin-top: 15px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

//bannerlow
.bannerlow {
  background: $yellow;
  position: relative;
  z-index: 1;
  padding-top: 60px;

  .bannerlow__content {
    max-width: 665px;
    width: 100%;

    @include respond-to(lg) {
      max-width: 530px;
    }

    @include respond-to(md) {
      max-width: 665px;
    }

    .bannerlow__title {
      margin-bottom: 20px;
    }

    .bannerlow__text {
      padding-bottom: 180px;

      @include respond-to(md) {
        padding-bottom: 0;
      }

      .bannerlow__text__item {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;

        @include respond-to(sm) {
          font-size: $medium;
          line-height: 19px;
        }

        @include respond-to(xs){
          font-size: $verysmall;
        }
      }
    }
  }

  .bannerlow__img {
    position: absolute;
    bottom: -60px;
    right: 0;

    @include respond-to(md) {
      position: static;

    }
  }
}

//FOOTER
.footer {
  background: #1B1B1B;
  padding: 122px 0 50px;

  .footer__nav {
    width: 100%;
    height: 60px;
    background: $grey;

    .footer__menu {
      display: flex;
      justify-content: center;

      @include respond-to(xs){
        flex-wrap: wrap;
        align-items: flex-start;
      }

      .footer__list {
        color: $white;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        margin: 20px 44px;

        @include respond-to(sm){
          font-size: 16px;
          margin: 20px 20px;
        }
      }

      
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer__logo {
      margin-top: 60px;

      .footer__logo__link {
        display: block;
        width: 243px;
        height: 50px;

        .footer__logo__img {
          width: 100%;
        }
      }
    }

    .footer__text {
      max-width: 850px;
      width: 100%;
      text-align: center;
      color: $white;
      margin-top: 30px;

      .footer__text__item {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;

        @include respond-to(sm){
          font-size: $tiny;
        }

        &:nth-child(2) {
          padding: 0 20px;
        }
      }
    }
  }
}

// modals
.modals {
  display: none;
}

.fancybox__content {
  background: $bgModals;
  color: $white;
  padding: 0;

  >.carousel__button.is-close {
    color: $internalText;
    top: 35px;
    right: 35px;

    &:hover {
      opacity: 0.7;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

// forms
.form {
  h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
  }

  .input__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 21px;
    position: relative;
    margin-bottom: 10px;

    >div {
      border-radius: 5px;
      background: $yellow;
      padding: 2px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &.error {
        background: $errorGradient;
      }

      div {
        position: absolute;
        left: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 27px;
        height: 27px;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    input {
      width: 100%;
      border-radius: 5px;
      border: none !important;
      background: $bgModals;
      padding: 14px 65px 13px;
      outline: none !important;
      font-weight: 400;
      font-size: 17px;
      color: $white;
      font-family: "open-sans", sans-serif;

      &::placeholder {
        color: $textGray;
      }
    }
  }

  .checkbox {
    padding-left: 38px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;

    @include respond-to(md) {
      font-size: 16px;
    }

    label {
      cursor: pointer;
    }

    &:hover {
      input~.checkmark {
        border-color: #FFBB36;
      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked~.checkmark {
        border-color: #FFBB36;

        &:after {
          display: block;
        }
      }
    }

    .checkmark {
      position: absolute;
      top: 3px;
      left: 0;
      height: 22px;
      width: 22px;
      background: #292929;
      box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
      border-radius: 3px;
      border: 2px solid transparent;
      transition: all 0.2s ease;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 5px;
        top: -2px;
        width: 10px;
        height: 16px;
        border: solid $white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }

    a {
      color: $textAdditional;
    }
  }

  &--error {
    font-weight: 400;
    font-size: 14px;
    color: $error;
    margin-top: 7px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &--success {
    margin-top: 25px;
    color: green;
    display: none;
  }
}

.registration__form {
  padding: 85px 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond-to(md) {
    padding: 60px;
  }

  @include respond-to(xs) {
    padding: 60px 20px;
  }

  h3 {
    margin-bottom: 52px;
    width: 100%;
    text-align: left;
  }

  .btn {
    margin-top: 25px;
    width: 221px;
    height: 57px;
  }

  .input__wrapper {
    width: 508px;

    @include respond-to(md) {
      width: 100%;
      max-width: 400px;
    }
  }
}

.login__form {
  padding: 40px 62px 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond-to(md) {
    padding: 40px;
  }

  h3 {
    margin-bottom: 62px;
  }

  .btn {
    margin-top: 25px;
    width: 201px;
    height: 57px;
  }

  .input__wrapper {
    width: 375px;

    @include respond-to(md) {
      width: 100%;
      max-width: 300px;
    }
  }
}