@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";

body {
  width: 100%;
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 1140px;

  @include respond-to(lg) {
    padding: 0 20px;
  }
}

h1 {
  font-size: 40px;
  font-family: "martel", sans-serif;
  font-weight: 700;
  line-height: 67px;

  @include respond-to(md) {
    font-size: $extralarge;
    line-height: 44px;
  }
}

h2 {
  font-size: $huge;
  font-weight: 600;
  line-height: 44px;
}

.btn {
  padding: 15px 50px;
  height: 50px;
  background: $yellow;
  border-radius: $borderRadius;
  border: none;
  font-size: $regular;
  font-weight: 600;
  line-height: 100%;
  cursor: pointer;

  @include respond-to(lg) {
    padding: 10px 30px;
  }

  &:hover {
    opacity: 0.75;
  }
}

a {
  &:hover {
    opacity: 0.75;
  }
}

//Header
.header {
  max-width: 100%;
  position: relative;
  z-index: 100;
  height: 110px;
  background: transparent;

  @include respond-to(md) {
    height: 60px;
    background: $colorIcons;
  }

  .wrapper__header {
    max-width: 1340px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include respond-to(md) {
      height: 60px;
      flex-direction: row-reverse;
    }

    .header__logo {
      z-index: 10;

      .header__logo__link {
        display: block;
        width: 244px;


        @include respond-to(lg) {
          width: 200px;

        }

        @include respond-to(md) {
          width: 151px;
          margin: 0 auto;
          position: absolute;
          right: 50%;
          top: 15px;
          margin-right: -76px;
        }

        .header__logo__img {
          width: 100%;
        }
      }
    }

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 110px;
      position: relative;

      @include respond-to(md) {
        height: 60px;
        position: relative;
      }

      .burger {
        border: none;
        background: transparent;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 21;
        margin-left: -6px;
        display: none;

        @include respond-to(md) {
          display: flex;
        }

        &::before,
        &::after {
          content: "";
          width: 22px;
          height: 2px;
          background: $white;
          z-index: 10;
        }

        &::before {
          margin-bottom: 3px;
        }

        &::after {
          margin-top: 3px;
        }

        &:hover {
          opacity: 0.75;
        }

        i {
          width: 22px;
          height: 2px;
          background: $white;
        }
      }

      .nav__menu {
        z-index: 100;

        @include respond-to(md) {
          display: none;

        }


        .nav__list {
          display: flex;
          justify-content: space-between;

          .nav__item__link {
            font-size: $regular;
            font-weight: 600;
            line-height: 20px;
            color: $white;
            margin-right: 30px;

            @include respond-to(lg) {
              margin-right: 20px;
              font-size: 18px;
            }
          }
        }
      }

      .nav__button {
        z-index: 100;
        width: 322px;
        display: flex;
        justify-content: space-between;

        @include respond-to(lg) {
          width: 280px;
        }

        @include respond-to(md) {
          display: none;
        }

        .btn__login {
          background: transparent;
          border: 1px solid;
          border-color: #FFBB36;
          color: $white;
          font-weight: 300;
          padding: 15px 40px;

          &:hover {
            background-color: #FFBB36;
          }
        }

        .btn__signOut {
          display: none;
          background: $grey;
          color: $textGray;
          width: 182px;
          height: 50px;
          font-weight: 600;
        }

        &.logged {
          .btn {
            display: none;
          }

          .btn__signOut {
            display: block;
          }
        }
      }
    }

    .header__content {
      z-index: 10;

      .header__content__title {
        z-index: 10;
      }
    }

    //menu mobile
    .menu__mobile {
      width: 258px;
      max-width: 100%;
      height: 640px;
      background: $colorIcons;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 20;
      border-bottom-right-radius: 30px;
      display: none;

      &.show {
        display: block;
      }

      .mobile__button {
        margin-top: 69px;

        .btn {
          padding: 0 30px;
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          margin-left: 14px;
          height: 39px;
        }

        .btn__login {
          background: transparent;
          border: 1px solid #FFD600;
          font-weight: 300;
          color: white;
        }

        .btn__signOut {
          display: none;
          background: $grey;
          color: $textGray;
          width: 152px;
          height: 39px;
          font-weight: 600;
        }

        &.logged {
          display: flex;
          align-items: center;
          justify-content: center;

          .btn {
            display: none;
          }

          .btn__signOut {
            display: block;
          }
        }
      }

      .mobile__nav {
        margin-top: 30px;

        .mobile__nav__list {

          .nav__item {
            max-width: 258px;
            width: 100%;
            height: 32px;
            background-color: $grey;
            margin-bottom: 10px;
            color: $white;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            align-items: center;
            background-image: url(../img/1.svg);
            background-repeat: no-repeat;
            background-position: 15px center;

            &:nth-child(2) {
              background-image: url(../img/14.svg);
            }

            &:nth-child(3) {
              background-image: url(../img/2.svg);
            }

            &:nth-child(4) {
              background-image: url(../img/6.svg);
            }

            .mobile__nav__item__link {
              display: block;
              width: 100%;
              height: 100%;
              padding-left: 45px;
              padding-top: 6px;
            }
          }
        }
      }

      .mobile__logo {
        max-width: 151px;
        width: 100%;
        height: 31px;
        margin: 284px auto 0;
      }
    }
  }
}


//MAIN

//slider
.slider {
  margin-top: -110px;

  @include respond-to(md) {
    margin-top: 0;
  }

  .slider__block {
    overflow-x: hidden;

    .slider__item {
      height: 525px;
      background-image: url(../img/banner1.png);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;

      @include respond-to(xs) {
        height: 640px;
      }

      .container {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 142px;

        @include respond-to(md) {
          justify-content: center;
          padding: 25px 20px 0;
        }

        .slider__item-inner {
          max-width: 500px;
          width: 100%;
          color: $white;
          text-align: center;

          .banner__title {

            @include respond-to(xs) {
              font-size: 23px;
            }
          }

          .banner__text {
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
            margin-top: 10px;

            @include respond-to(sm) {
              font-size: $small;
              line-height: 22px;

              @include respond-to(xs) {
                font-size: 15px;
              }
            }
          }

          .banner__button {
            margin-top: 30px;
            padding: 10px 50px;

            @include respond-to(xs) {
              width: 177px;
              height: 43px;
              font-size: $medium;
            }
          }
        }
      }
    }

    .slider__item-first {
      background-image: url(../img/banner1.png);

      @include respond-to(xs) {
        background-image: url(../img/banner01.png);
      }
    }

    .slider__item-second {
      background-image: url(../img/banner2.png);

      @include respond-to(xs) {
        background-image: url(../img/banner02.png);
      }
    }

    .slider__item-third {
      background-image: url(../img/banner3.png);

      @include respond-to(xs) {
        background-image: url(../img/banner03.png);
      }
    }

    .slider__item-fourth {
      background-image: url(../img/banner4.png);

      @include respond-to(xs) {
        background-image: url(../img/banner04.png);
      }
    }

    .slick-list {
      .slick-track {
        display: flex;
      }
    }

    .slick-dots {
      display: flex;
      justify-content: center;

      li {
        margin: -40px 5px 0;
        font-size: 0;
        z-index: 10;

        button {
          width: 20px;
          height: 20px;
          background: transparent;
          border: 2px solid $white;
          border-radius: 50%;
          cursor: pointer;

          &:hover {
            opacity: 0.75;
          }

          @include respond-to(sm){
            border: 0.927273px solid #FFFFFF;
            width: 15px;
            height: 15px;
          }
        }
      }

      .slick-active {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: $white;
        border: none;
        background: $white;

        @include respond-to(sm){
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

//icons
.icons {
  background: $colorIcons;

  .icons__list {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 60px 0;
    position: relative;

    @include respond-to(sm) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px 0;
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        z-index: 1;
        background: $colorIcons;
      }
    }

    .icons__item {
      max-width: 243px;
      width: 100%;
      text-align: center;
      border-left: 1px solid hsla(40, 100%, 61%, 0.14);

      @include respond-to(sm) {
        padding: 10px 0;
        max-width: 50%;
      }

      &:nth-child(1){
        border: none;
        @include respond-to(sm){
          border-bottom: 1px solid hsla(40, 100%, 61%, 0.14);
        }
      }

      &:nth-child(2){
        @include respond-to(sm) {
          border-bottom: 1px solid hsla(40, 100%, 61%, 0.14);
        }
      }

      &:nth-child(3) {
        @include respond-to(sm) {
          border: none;
        }
      }

      &:nth-child(4) {
        @include respond-to(sm) {
          border-left: 1px solid hsla(40, 100%, 61%, 0.14);
        }
      }

      .icons__text{
        color: $white;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;

        @include respond-to(md){
          font-size: 13px;
          line-height: 19px;
        }
      }

      .icons__link {
        display: block;

        @include respond-to(sm) {
          width: 100px;
          margin: 0 auto;
        }
      }
    }
  }
}



//slots
.slots {
  background: $colorIcons;

  .slots__title {
    height: 60px;
    background: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 60px;
    font-weight: 600;

    @include respond-to(sm) {
      font-size: $big;
      height: 45px;
    }

    @include respond-to(xs) {
      margin-bottom: 25px;
    }
  }

  .wrapper__slots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 85px;
    gap: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15.9%;
    position: relative;
    border-radius: 16.4423px;
    border: 1.09615px solid #FFFFFF;
    transition: all 0.2s ease;
    overflow: hidden;
    @media only screen and (max-width: 1140px) {
      width: 15%;
    }
    @include respond-to(sm) {
      width: calc(50% - 5px);
    }

    &:hover {
      border-color: transparent;
      .slots__block {
        opacity: 1;
      }
    }

    img {
      position: relative;
      top: -3px;
      left: -3px;
      max-width: calc(100% + 6px);
      width: calc(100% + 6px);
      height: calc(100% + 6px);
    }

    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      margin-bottom: 15px;
      @include respond-to(md) {
        margin-bottom: 5px;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 28px;
      width: 119px;
      height: 35px;
      background: $yellow;
      border-radius: 50px;
      transition: all 0.2s ease;
      cursor: pointer;
      border: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #131313;
      &:hover {
        opacity: 0.7;
      }
    }

    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
      width: 32.7%;
      @media only screen and (max-width: 1140px) {
        width: 32%;
      }
      @include respond-to(sm) {
        width: calc(50% - 5px);
      }
      p {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 25px;
        @include respond-to(md) {
          margin-bottom: 15px;
        }
        @include respond-to(sm) {
          font-size: 16px;
          line-height: 22px;
        }
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 50px;
        width: 181px;
        height: 49px;
        background: $yellow;
        border-radius: 50px;
        transition: all 0.2s ease;
        cursor: pointer;
        border: none;
        font-size: 18px;
        line-height: 25px;
        &:hover {
          opacity: 0.7;
        }
        @include respond-to(sm) {
          padding: 8px 28px;
          width: 119px;
          height: 35px;
          font-size: 14px;
          line-height: 19px;
        }
      }
    }

    &:nth-of-type(3) {
      @include respond-to(sm) {
        width: 100%;
        order: -1;
      }
      p {
        @include respond-to(sm) {
          font-size: 22px;
          line-height: 30px;
        }
      }
      button {
        @include respond-to(sm) {
          padding: 12px 50px;
          width: 181px;
          height: 49px;
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__block {
    position: absolute;
    inset: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 16.4423px;
    transition: all 0.3s ease;
    opacity: 0;
  }
}

//bannerlow
.bannerlow {
  background: $yellow;
  position: relative;
  z-index: 1;
  padding-top: 52px;

  @include respond-to(sm){
    padding-top: 22px;
  }

  .bannerlow__content {
    max-width: 665px;
    width: 100%;

    @include respond-to(lg) {
      max-width: 530px;
    }

    @include respond-to(md) {
      max-width: 665px;
    }

    .bannerlow__title {
      margin-bottom: 20px;

      @include respond-to(sm){
        margin-bottom: 10px;
      }
    }

    .bannerlow__text {
      padding-bottom: 180px;

      @include respond-to(md) {
        padding-bottom: 0;
      }

      .bannerlow__text__item {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        color: #131313;

        @include respond-to(sm) {
          font-size: $medium;
          line-height: 19px;
        }

        @include respond-to(xs){
          font-size: $verysmall;
        }
      }
    }
  }

  .bannerlow__img {
    position: absolute;
    bottom: -60px;
    right: 0;

    @include respond-to(md) {
      position: static;

    }
  }
}

//FOOTER
.footer {
  background: #1B1B1B;
  padding: 122px 0 50px;

  .footer__nav {
    width: 100%;
    height: 60px;
    background: $grey;

    @include respond-to(sm){
      height: 110px;
    }
    .footer__menu {
      display: flex;
      justify-content: center;

      @include respond-to(sm){
        flex-wrap: wrap;
      }

      .footer__list {
        color: $white;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        margin: 20px 44px;

        @include respond-to(sm){
          font-weight: 500;
          font-size: 16px;
          margin: 20px 0;
          width: 50%;
          text-align: center;
        }
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer__logo {
      margin-top: 60px;

      .footer__logo__link {
        display: block;
        width: 243px;
        height: 50px;

        .footer__logo__img {
          width: 100%;
        }

        @include respond-to(sm){
          width: 151px;
          height: 31px;
        }
      }
    }

    .footer__text {
      max-width: 865px;
      width: 100%;
      text-align: center;
      color: #C6C6C6;
      margin-top: 30px;

      .footer__text__item {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;

        @include respond-to(sm){
          font-size: $tiny;
          line-height: 18px;
        }

        &:nth-child(2) {
          padding: 0 20px;
        }
      }
    }
  }
}

// modals
.modals {
  display: none;
}

.fancybox__content {
  background: $bgModals;
  color: $white;
  padding: 0;

  >.carousel__button.is-close {
    color: $internalText;
    top: 35px;
    right: 35px;

    &:hover {
      opacity: 0.7;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

// forms
.form {
  h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    @include respond-to(sm) {
      font-size: 21px;
      line-height: 29px;
    }
  }

  .input__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 21px;
    position: relative;
    margin-bottom: 10px;

    >div {
      border-radius: 5px;
      background: $yellow;
      padding: 2px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &.error {
        background: $errorGradient;
      }

      div {
        position: absolute;
        left: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 27px;
        height: 27px;
        @include respond-to(sm) {
          left: 15px;
        }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    input {
      width: 100%;
      border-radius: 5px;
      border: none !important;
      background: $bgModals;
      padding: 14px 65px 13px;
      outline: none !important;
      font-weight: 400;
      font-size: 17px;
      color: $white;
      font-family: "open-sans", sans-serif;
      @include respond-to(sm) {
        font-size: 14px;
        line-height: 19px;
        padding: 10px 58px 10px;
      }

      &::placeholder {
        color: $textGray;
      }
    }
  }

  .checkbox {
    padding-left: 38px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;

    @include respond-to(md) {
      font-size: 16px;
      line-height: 22px;
    }

    label {
      cursor: pointer;
    }

    &:hover {
      input~.checkmark {
        border-color: #FFBB36;
      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked~.checkmark {
        border-color: #FFBB36;

        &:after {
          display: block;
        }
      }
    }

    .checkmark {
      position: absolute;
      top: 3px;
      left: 0;
      height: 22px;
      width: 22px;
      background: #292929;
      box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
      border-radius: 3px;
      border: 2px solid transparent;
      transition: all 0.2s ease;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 5px;
        top: -2px;
        width: 10px;
        height: 16px;
        border: solid $white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }

    a {
      color: $textAdditional;
    }
  }

  &--error {
    font-weight: 400;
    font-size: 14px;
    color: $error;
    margin-top: 7px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &--success {
    margin-top: 25px;
    color: green;
    display: none;
  }
}

.registration__form {
  padding: 85px 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond-to(md) {
    padding: 60px;
  }

  @include respond-to(sm) {
    padding: 80px 20px;
  }

  h3 {
    margin-bottom: 52px;
    width: 100%;
    text-align: left;
    @include respond-to(sm) {
      text-align: center;
      margin-bottom: 45px;
    }
  }

  .btn {
    margin-top: 4px;
    width: 221px;
    height: 57px;
    @include respond-to(sm) {
      margin-top: 14px;
      font-size: 17px;
      width: 162px;
      height: 43px;
    }
  }

  .input__wrapper {
    width: 508px;

    @include respond-to(md) {
      width: 100%;
      max-width: 400px;
    }
  }
}

.login__form {
  padding: 40px 62px 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond-to(md) {
    padding: 40px;
  }

  @include respond-to(sm) {
    padding: 80px 20px;
  }

  h3 {
    margin-bottom: 62px;
    @include respond-to(sm) {
      margin-bottom: 45px;
    }
  }

  .btn {
    margin-top: 4px;
    width: 201px;
    height: 57px;
    @include respond-to(sm) {
      margin-top: 14px;
      font-size: 17px;
      width: 145px;
      height: 43px;
    }
  }

  .input__wrapper {
    width: 375px;

    @include respond-to(md) {
      width: 100%;
      max-width: 400px;
    }
  }
}

//buttonScroll
.toTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 99;
  display: none;
  width: 100px;
  height: 100px;
  @include respond-to(sm){
    width: 40px;
    height: 40px;
    right: 15px;
    bottom: 30px;
  }
  a {
    display: block;
    background-image: url(../img/scroll-back-to-top-pc.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    @include respond-to(sm){
      width: 40px;
      height: 40px;
    }
  }
}